#knock{
    width: 10%;
    height: 10%;
    position: absolute;
    top: 40%;
    left: 45%;
    margin: auto;
    background-color: rgb(18, 18, 110);
    color: white;
    border:rgb(18, 18, 110);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    cursor: pointer;
}

#go_away{
    width: 10%;
    height: 10%;
    position: absolute;
    top: 55%;
    left: 45%;
    background-color: rgb(18, 18, 110);
    color: white;
    border:rgb(18, 18, 110);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    cursor: pointer;
}